@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import './reset.css';
body {
  padding: 15px 0;
  background: linear-gradient(315deg, rgba(255, 255, 255, 1.0), rgba(255, 191, 152, 1.0));
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
